<ion-view title="Registro">
    <ion-content overflow-scroll="false" padding="false" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contraseña</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <label class="item item-input">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Apellido</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Cedula</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Direccion</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Telefono</span>
                <input type="text" placeholder="">
            </label>
            <a ui-sref="usuarios" class="button button-stable button-block ">Registar</a>
        </form>
    </ion-content>
</ion-view>