<ion-view view-title="Pizza" >
  <ion-content>
    <h1>Pizza</h1>
      <div class="list">
          <ion-item class="item-remove-animate">
              <div class="list card">
       <h1>Pizza Napolitana</h1>

  <div class="item item-body">
       <a class="item item-thumbnail-left" 
          
          href="#/app/pedidosPizza">
<!--    <img style="width:600px; height:600px;" ng-src={{listaPelicula.image}}>-->
           <div class="row">
  <div class="col">
      
      <img src="img/napolitana.jpg" width="350" height="350">
      <div class="list list-inset">

    <div class="item">
        <h2>Ingredientes</h2>
    </div>
<div class="item">
            <h2>
              Azúcar
                  300 a 350 cc.agua tibia
                  2 tomates redondos
                  350 grmozarella
                  variosalbahaca fresca, aceitunas, ajo
                  a gustosalsa de tomates
                  a gustosal fina
              
              
              </h2>
    </div>
          <div class="item">
               <h2>Preparacion</h2>
          </div>

</div>
             </div>
           
  <div class="col"></div>
  <div class="col"><p></div>
  <div class="col"></div>
  <div class="col"></div>
</div>
      <div class="list card">
          <h2 >Colocar los ingredientes en un bol, excepto el agua. Agregar de poco el agua tibia, y amasar hasta obtener una masa lisa y suave.
              Dividir la masa en tantas partes como pizzas deseen y formar bollos, cubrir los bollos con papel film y dejar levar en un lugar cálido. Estirar sobre pizzeras aceitadas, agregar salsa de tomate y dejar fermentar en lugar cálido.
              Hornear a horno fuerte de 210º a 230 º. durante 10 minutos, agregar la mozarella y terminar la cocción. 
Antes de llevar a la mesa añadir los tomates en rodajas finas, las aceitunas, la albahaca picada y en hojas y por último rociar con orégano y ajo picado.
              Antes de llevar a la mesa colocar las rodajas finas de tomate, la albahaca picada y en hojas, ajo picado y orégano.
          </h2>
      </div>
   
                </a>
  </div>
</div>   
          </ion-item>
            </div>
      </ion-list>
  </ion-content>
    <ion-footer-bar class="bar bar-header bar-assertive">
            <div class="title">Pizza</div>
        </ion-footer-bar>
    
</ion-view>