<ion-view view-title="Actualizar">
  <ion-content>
      <div class="list card">
<!--
               <div class="item item-image">
            <img style="width:348px; height:248px;" ng-src={{pizza.image}}>
          </div>
-->
              <p></p>
              <p></p>
                <p></p>
              <p></p>
              <p></p>
              <p></p>
              <p></p>
         
      </div>

      <!--Formulario para actualizar nueva pizza-->
      <form >
       <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Usuario: </span>
            <input type="text" placeholder="Luis123" >
          </label>

           <label class="item item-input item-stacked-label">
            <span class="input-label">Contrasena</span>
            <input type="password" placeholder="**********" >
          </label>
           
           
           <label class="item item-input item-stacked-label">
            <span class="input-label">Nombre</span>
            <input type="text" placeholder="Luis" >
          </label>
           
           <label class="item item-input item-stacked-label">
            <span class="input-label">Apellido</span>
            <input type="text" placeholder="Espana" >
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Cedula</span>
            <input type="text" placeholder="1722146***" >
          </label>
           <label class="item item-input item-stacked-label">
            <span class="input-label">Direccion</span>
            <input type="text" placeholder="Av. 12 de Octubre" >
          </label>
           <label class="item item-input item-stacked-label">
            <span class="input-label">Telefono</span>
            <input type="text" placeholder="2389812-0990503537">
          </label>
        </div> 
          <button type="submit" style="margin:2em;" class="icon-left ion-ios-videocam-outline button button-clear button-positive">Actualizar</button>
    </form>
     <!--boton de registro--> 
      
  </ion-content>
 
    <ion-footer-bar class="bar bar-footer bar-calm">
            <div class="title">Pizza</div>
        </ion-footer-bar>
</ion-view>