<ion-view title="Acerca de">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/rwWti0ydQ4SrwOeixmeK_napolitana.jpg" width="100%" height="auto">
        </div>
        <div class="list card">
            <div class="item item-divider">Mama Mia Pizza</div>
            <div class="item item-body">
                <div>
                    <p>Mama mia Pizza es una cadena de comida rápida 100% ecuatoriana, creada en 1988 en Quito. Con 250 empleados en sus restaurantes, 40 más en el área administrativa del corporativo y en la empresa hermana de insumos alimenticios, cada día
                        se trabaja por mantener la calidad y el servicio. 1988 – 2013 Cumpliendo 25 años de brindar sabor y calidad.</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>